@import "vars";

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.3em;
}

.navbar__component {
  background: #374697;
  color: white;
  font-size: 2em;
  padding: 10px;
}
