@import "vars";

.board__component {
  white-space: nowrap;
  background: $light-gray;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $presencebar-width;
  overflow-x: auto;
  padding: 20px;
  padding-top: 70px;
  z-index: -1;
}
