@import "vars";

.navbar__component {
  background: $layout-bg-color;
  color: white;
  padding: 10px 10px 0 10px;
  height: $navbar-height;
}

.navbar__title {
  font-size: 2em;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.navbar__current-user {
  display: inline-block;
  float: right;
}

.navbar__avatar {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  height: $navbar-height;
  padding: 2px 0;
  border-radius: 50%;
  margin-top: -11px;
}

.navbar__user-name {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  font-size: 1.3em;
}
