@import "vars";

.presencebar__component {
  background: $layout-bg-color;
  position: absolute;
  top: $navbar-height;
  left: 0;
  bottom: 0;
  width: $presencebar-width;
  padding: 10px 5px;
  color: white;
}

.presencebar__user {
  margin-bottom: 10px;
}

.presencebar__icon {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}
.presencebar__icon--online {
  background: #0fce0f;
}
.presencebar__icon--offline {
  background: gray;
}
