@import "vars";

.stage__component {
  width: 300px;
  background: white;
  height: 100%;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  vertical-align: top;
}

.stage__name {
  border-bottom: solid $light-gray 2px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.3em;
}
.stage__applicant-list {
  padding: 0;
  margin: 10px;
}
